.menu_container{
    display: flex;
    padding: 20px;
    font-weight: 300;
    border: solid 5px green;
    
}
.menu_item{
    flex: 1;
    border: solid 3px rgb(62,0,128);
}
.menu_item_a{
    flex: 5;
    border: solid 3px rgb(62,0,128);
}